# shellcheck shell=sh
DATABASE_URL='postgresql://neondb_owner:****************@ep-proud-smoke-aexddtf1-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
R2_ACCESS_KEY_ID=1a4aa39a9152aeab9fdecd2ffe65fb04
R2_SECRET_ACCESS_KEY=ffbb762a08c444120c61c1648a2882b2b4266827bb3118fd8775a74ef665ae60
R2_BUCKET_NAME=internship-letter
R2_ENDPOINT_URL=https://c788fb5f46ea9b486190b58825fa2568.r2.cloudflarestorage.com
